/* Định dạng chung */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

/* Header */
header {
  background: gray;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Main Content */
main {
  padding: 20px;
  text-align: justify;
}

/* Button */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #45a049;
}

/* Footer */
footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

